/*Here I learned that inline CSS style will override style for a section like the body.*/

<style>
  .pink-text {
    color: pink;
  }
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
